<!DOCTYPE html>
<html lang="en">
<head>
  <title>Yangiliklar</title>
</head>
<body>

  {% extends 'base.html' %}

  {% block content %}

  <h1>Eng sara yangiliklar faqat bizning kanalimizda</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis aut nulla autem rem, dolorum magni, eius exercitationem possimus veritatis repellendus quasi voluptatum consequuntur laborum accusantium corporis quidem quam vel laboriosam.</p>
  <p>Laborum magnam facere unde nemo est modi sapiente velit praesentium assumenda cumque, amet quas magni in at ipsa deleniti eveniet excepturi sunt expedita quibusdam fugit vitae. Excepturi nostrum facere dolore!</p>
  <img src="https://picsum.photos/200" alt="rasmlar" width="200" height="200">
  <p>Dolorum quaerat architecto minus labore! Molestias, praesentium similique. Voluptas accusamus cum quis, exercitationem aperiam consectetur iure quidem soluta animi veniam dolorem expedita, fugit architecto, numquam distinctio enim reprehenderit. Praesentium, fugiat?</p>
  {% endblock content %}
</body>
</html>